@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,800;1,200&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffcff;
}
ul {
	margin: 0;
	padding: 0;
}
button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 95px;
  cursor: pointer;
  box-shadow: 0px 0px 7px #c6c6c6;
  border: none;
  outline: none;
  padding: 8px 25px;
  border-radius: 5px;
  color: white;
	font-family: inherit;
	font-weight: 400;
	font-size: 15px;
}
.container {
  width: 700px;
	margin: 0 auto;
}
.weekdays {
  width: 100%;
  display: flex;
  color: #247ba0;
	text-align: right;
}
.weekdays div {
  width: 100px;
  padding: 10px;
}
.calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}